body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

li {
  list-style: none;
}

.background-color-one {
  background-color: #1F2937;
}

.section-one {
  display: flex;
  margin: 100px 200px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder {
  background-color: gray;
  color: white;
  height: 250px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin: 10px 200px;
}

.subtext, a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  justify-content: flex-end;
}

.hero {
  color: #F9FAF8;
  font-weight: bolder;
  font-size: 48px;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
  gap: 10px;
}

.left-side button {
  width: 100px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  padding: 5px;
  border: 0;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  margin: 50px 0;
}

.content {
  display: flex;
  gap: 15px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  gap: 10px;
}

.box {
  height: 150px;
  width: 150px;
  border: 5px solid #3882F6;
  border-radius: 20px;
}

.text {
  margin-bottom: 100px;
  width: 150px;
}

.section-three {
  background-color: #E5E7EB;
}

.work {
  display: flex;
  margin: 100px 350px;
}

.quote {
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.author {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  justify-content: flex-end;
}

.call-to-action {
  display: flex;
  background-color: #3882F6;
  margin: 100px 250px;
  border-radius: 10px;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.section-four .left-side {
  margin: 0;
}

.main {
  font-weight: bold;
  color: #E5E7EB;
}

.section-four .subtext {
  font-size: 15px;
  font-weight: lighter;
  color: #E5E7EB;
}

.section-four button {
  background-color: #3882F6;
  color:#E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100px;
  border: 3px solid white;
  border-radius: 8px;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}